/*

	CONTENTS

	1. CSS Reset
	2. Typography
	3. Clock
	4. Buttons
	  - 4.1 general
	  - 4.2 states
	  - 4.3 sizes
	  - 4.4 colors
	5. Inputs
	  - 5.1 general
	  - 5.2 states
	6. Explanation

*/


/* 1. CSS Reset
----------------------------------------------------------------------------- */
html, body, div, p, a, button, input{
	padding: 0;
	border: 0;
	margin: 0;
}


/* 2. Typography
----------------------------------------------------------------------------- */
html{
	background-color: #173b4d;
	font: 300 100%/1.5 'Nunito', sans-serif;
	color: rgba(247,247,247,.8);
	text-align: center;
}

p{
	margin: 1.5rem auto;
}

small{
	font-size: .875rem;
}


/* 3. Clock
----------------------------------------------------------------------------- */
.clock {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 3rem auto;
	border-radius: 50%;
	box-shadow:
		0 3px 6px rgba(0,0,0,.1),
		0 3px 6px rgba(0,0,0,.2);
	cursor: pointer;
	background-color: #47b38f;
}

.hours,
.minutes,
.seconds,
.dot{
	background-color: #f7f7f7; /* .dot gets overwritten later on */
	position: absolute;
	box-shadow:
		0 1px 3px rgba(0,0,0,.15);
}

.hours{
	bottom: 87px;
	left: 87px;
	width: 6px;
	height: 30px;
	border-radius: 3px;

	-webkit-transform-origin: 3px 27px;
	-ms-transform-origin: 3px 27px;
	transform-origin: 3px 27px;
}

.minutes{
	bottom: 88px;
	left: 88px;
	width: 4px;
	height: 70px;
	border-radius: 2px;

	-webkit-transform-origin: 2px 68px;
	-ms-transform-origin: 2px 68px;
	transform-origin: 2px 68px;
}

.seconds{
	bottom: 89px;
	left: 89px;
	width: 2px;
	height: 60px;
	border-radius: 1px;

	-webkit-transform-origin: 1px 59px;
	-ms-transform-origin: 1px 59px;
	transform-origin: 1px 59px;
}

.dot{
	bottom: 86px;
	left: 86px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #e6a15c;
}


/* 4. Buttons
----------------------------------------------------------------------------- */

	/* ----- 4.1 general ----- */
	button{
		display: inline-block;
		min-width: 4rem; /* Create some consistency with a minimum width */
		padding: .25rem 1rem;
		margin: 2rem .5rem 0;
		border: none;
		border-radius: .125rem; /* 2px for a 16px font-size */

		background-color: rgba(255,255,255,.15);
		box-shadow:
			0 1px 3px 0 rgba(0,0,0,0.45),
			0 3px 6px 0 rgba(0,0,0,0.15);

		font: inherit;
		color: #f7f7f7;

		cursor: pointer;
		transition: transform .2s cubic-bezier(.5,1.75,1,1);
	}

	/* ----- 4.2 states ----- */
	button:hover,
	button:focus{
		box-shadow:
			0 3px 6px 0 rgba(0,0,0,0.45),
			0 6px 9px 0 rgba(0,0,0,0.15);
		text-shadow: 0 1px 2px rgba(0,0,0,.2);
		outline: none; /* should fix outline when accessed with keyboard */
	}

	button:active{
		box-shadow: none;
		text-shadow: none;
		transform: scale(0.95);
	}

	/* ----- 4.3 sizes ----- */
	button.small{
		padding: .3rem .5rem .2rem;
		border-radius: 0.1875rem; /* 3px for 16px font-size */
	}

	button.large{
		padding: .5rem 1.5rem;
		font-size: 1.125rem;
		line-height: 1.333;
	}

	/* ----- 4.4 colors ----- */
	button.pri{
		background-color: #47b38f;
	}

	button.sec{
		background-color: #45b0e6;
	}


/* 5. Inputs
----------------------------------------------------------------------------- */

	label{
		display: block;
		margin-top: 1rem;
		font-size: 14px;
		line-height: 1.714;
	}

	input{
		max-width: 9.5rem;
		padding: .25rem;
		border: none;
		border-radius: .125rem; /* 2px for a 16px font-size */

		font: inherit;
		font-size: 16px;
		color: #f7f7f7;

		background: rgba(255,255,255,.15);
		box-shadow:
			0 1px 3px 0 rgba(0,0,0,0.45),
			0 3px 6px 0 rgba(0,0,0,0.15);

		transition: transform .2s cubic-bezier(.5,1.75,1,1);
	}

	input:hover{
		background-color: rgba(247,247,247,.3);
	}

	input:focus{
		box-shadow:
			0 3px 6px 0 rgba(0,0,0,0.45),
			0 6px 9px 0 rgba(0,0,0,0.15);
		background-color: #45b0e6;
		transform: scale(1.05);
		outline: 0;
	}




	.input[disabled]{
		background-color: #3ea588;
		box-shadow: none;
		border-color: rgba(0,0,0,.1);
	}


/* 5. Explanation
----------------------------------------------------------------------------- */
.explanation_link{
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;

	width: 1rem;
	height: 1.4rem;
	padding: .2rem .5rem .3rem;

	border-radius: 50%;
	background-color: rgba(0,0,0,.2);

	color: inherit;
	text-decoration: none;
}

#explanation{
	overflow: auto;
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	padding-top: 5%;
	background: #f7f7f7;
	background: rgba(23, 59, 77, .9);

	color: #f7f7f7;
}

#explanation:target{
	display: block;
}

#explanation p{
	max-width: 300px;
	font: inherit;
}